*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background-image : url(https://cdn.pixabay.com/photo/2017/09/05/10/20/business-2717066_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  place-content: center;
  font-family: system-ui;
  -webkit-background-clip: text;
  background-attachment: fixed;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 80vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #ffffff;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
  background-color: #d1f2ff;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #6f6766;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #6f6766;
}

.app-contact {
  margin-top: auto;
  font-size: 14px;
  color: #6f6766;
}



.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

img{
  height: 20px;
  width: 20px;
}


.redirect{
  text-align: center;
  margin: bottom:100px;
}

.button {
  border-radius: 4px;
  background-color: #0D6EFD;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 6px 12px;
  width: 120px;
  height: 38px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}


.button:hover span:after {
  opacity: 1;
}

.next:hover span:after {
  right: 0;
}
.next span:after {
  content: '\00bb';
  right: -20px;
}

.next:hover span {
  padding-right: 25px;
}

.previous:hover span:after {
  left: 0;
}
.previous span:after {
  content: '\00ab';
  left: -20px;
}
.previous:hover span {
  padding-left: 25px;
}

.instagram{
  margin: 5px;
}
.facebook{
  margin: 5px;
}
.linkedin{
  margin: 5px;
}
.github{
  margin: 5px;
}
a{
  text-decoration-line: none;
}