* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.14rem;
  background-image : linear-gradient(to right, #00000066, #00000066), url(https://cdn.pixabay.com/photo/2017/09/05/10/20/business-2717066_960_720.jpg);

  /*background-color: #00000066;*/
  background-repeat: no-repeat;
  background-size: cover;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  place-content: center;
  -webkit-background-clip: text;
  background-attachment: fixed;
  height: 100%;
}

h1{
  font-weight: bold;
  text-align: center;
  margin: 0 0 2.9rem 0;
  font-size: 4rem;
  color: #ffffff;
}
.container {
  width: 100%;
  height: 100%;
  background-color:#4dbec32e;
  font-size: 2.5vmin;
}

b{
  color: #ffffff;
}
.skills {
  text-align: right;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.cpp {width: 90%; background-color: #1D8348 ;}
.cpp:hover{box-shadow: 0.5rem 1.0rem #888888; width: 91%;}

.c {width: 90%; background-color: #1D8348;}
.c:hover{box-shadow: 0.5rem 1.0rem #888888; width: 91%;}

.html {width: 80%; background-color: #239B56 ;}
.html:hover{box-shadow: 0.5rem 1.0rem #888888; width: 81%;}

.css {width: 70%; background-color: #28B463 ;}
.css:hover{box-shadow: 0.5rem 1.0rem #888888; width: 71%;}

.js {width: 50%; background-color: #2ECC71;}
.js:hover{box-shadow: 0.5rem 1.0rem #888888; width: 51%;}

.java {width: 40%; background-color: #82E0AA;}
.java:hover{box-shadow: 0.5rem 1.0rem #888888; width: 41%;}

.dsa {width: 30%; background-color: #ABEBC6;}
.dsa:hover{box-shadow: 0.5rem 1.0rem #888888; width: 31%;}

.redirect{
  text-align: center;
  margin-top: 2rem;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.14rem;
  border-radius: 0.4rem;
  background-color: #0D6EFD;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 0.6rem 1.2rem;
  width: 12rem;
  height: 3.8rem;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2.5rem;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}


.button:hover span:after {
  opacity: 1;
}

.next:hover span:after {
  right: 0;
}
.next span:after {
  content: '\00bb';
  right: -2rem;
}

.next:hover span {
  padding-right: 2.5rem;
}

.previous:hover span:after {
  left: 0;
}
.previous span:after {
  content: '\00ab';
  left: -2rem;
}
.previous:hover span {
  padding-left: 2.5rem;
}


html{
  font-size: 62.5%;
}

@media(max-width: 998px){
  html{
    font-size: 55%;
  }
}

@media(max-width: 768px){
  html{
    font-size: 45%;
  }
}
